@font-face {
    src: local('PHOSPHATE-SOLID'),url(./Fonts/PHOSPHATE-SOLID.TTF) format('TTF');
  font-family:'PHOSPHATE-SOLID' ;
}
@font-face{
  src: local('SOURCESANSPRO-REGULAR'),url(./Fonts/SOURCESANSPRO-REGULAR.OTF) format('OTF');
  font-family: 'SOURCESANSPRO-REGULAR';
}

.active-item{
  transition: background-color 0.5s ease;
  background-color: #5e0904;
  color:#FFFFFF;

}

.ing-select-btn{
color:black;
text-align: center;
cursor: pointer;

}
.header-options{
  text-align: center;
  cursor: pointer;
}
.active-ing{
  color: #5e0904;
}
.nut-facts-title{
  background: #ffc648;
  font-size: 40px;
  line-height: 60px;
  color: #8c0122;
  font-family: 'PHOSPHATE-SOLID';
  text-align: left;
  min-height: 60px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-top:0px;

}

#nut-facts-table{
  font-family: 'SOURCESANSPRO-REGULAR';
      border: 3px solid brown;
      padding-left: 0px ;
      padding-right: 0px;
      margin-bottom: 100px;
      position: relative;

}
.fixed-bottom{
  position: fixed;
  bottom:0;

}
.fixed-bottom thead{
  background-color: #5e0904;
  color:#FFFFFF;
}
.fixed-bottom>table{
  background-color: #FFFFFF;

}
#ingredient-table thead{
    background: #ffc648;
    color: #8c0122;
}
#footer-nav{
  height:200px;
  background: #ffc648;
}
